In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
# Load libraries
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing

In [3]:
training = pd.read_csv('../csvs/training.csv')
test = pd.read_csv('../csvs/test.csv')

In [4]:
training.drop(['sepostulo'], 1, inplace = True)
test.drop(['sepostulo'], 1, inplace = True)
areas = training['nombre_area']
resultados = test['nombre_area']

In [5]:
training.head()

,edad,estado,nivel,nombre,nombre_area,nombre_zona,sexo,tipo_de_trabajo,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,49.0,1.0,7.0,6.0,2,7,1,1,0,1,0,0,0
1,49.0,2.0,6.0,4.0,2,7,1,1,0,1,0,0,0
2,58.0,1.0,5.0,4.0,2,7,1,1,0,1,0,0,0
3,58.0,2.0,6.0,4.0,2,7,1,1,0,1,0,0,0
4,42.0,1.0,4.0,3.0,2,7,1,1,0,1,0,0,0

In [6]:
test.fillna(-1,inplace=True)

In [7]:
# Make predictions on validation dataset
knn = KNeighborsClassifier(n_neighbors = 80)
knn.fit(training, areas)
predictions = knn.predict_proba(test)
indicador = 0
col_names =  ['id', 'sepostulo']
final  = pd.DataFrame(columns = col_names)
for prediction in predictions:
    if(resultados[indicador] >= 186):
        resultado_parcial = [indicador, 0]
    else:
        resultado_parcial = [indicador, prediction[resultados[indicador]]]
    final.loc[len(final)] = resultado_parcial
    indicador += 1

In [8]:
final.head()

    id  sepostulo
0  0.0     0.0000
1  1.0     0.0000
2  2.0     0.0000
3  3.0     0.0625
4  4.0     0.0000

In [9]:
final['id'] = final['id'].astype(int)
final['sepostulo'] = final['sepostulo'].astype(int)

In [10]:
final

          id  sepostulo
0          0          0
1          1          0
2          2          0
3          3          0
4          4          0
5          5          0
6          6          0
7          7          0
8          8          0
9          9          0
10        10          0
11        11          0
12        12          0
13        13          0
14        14          0
15        15          0
16        16          0
17        17          0
18        18          0
19        19          0
20        20          0
21        21          0
22        22          0
23        23          0
24        24          0
25        25          0
26        26          0
27        27          0
28        28          0
29        29          0
...      ...        ...
99970  99970          1
99971  99971          0
99972  99972          1
99973  99973          0
99974  99974          0
99975  99975          0
99976  99976          0
99977  99977          0
99978  99978          0
99979  99979          0
99980  99980          0
99981  99981          0
99982  99982          1
99983  99983          1
99984  99984          1
99985  99985          0
99986  99986          0
99987  99987          0
99988  99988          0
99989  99989          0
99990  99990          0
99991  99991          0
99992  99992          0
99993  99993          0
99994  99994          0
99995  99995          0
99996  99996          0
99997  99997          0
99998  99998          0
99999  99999          0

[100000 rows x 2 columns]

In [11]:
final.to_csv('../csvs/resultados_KNN_k80.csv', index = False)